<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Title</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of userInfo; let i = index">
        <th >{{obj.id}}</th>
        
        <td>{{obj.title}}</td>
        <td> <img [src]="obj.thumbnailUrl"> </td>
        <td> <button class="btn btn-primary" (click)="compare(i)"> Compare</button></td>
      </tr>

    </tbody>
  </table>

  <app-child (valueChange)="updatedValue($event)"></app-child>
</div>


